<style>
  h1 {
    font-size: 3.125rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
  }
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }
</style>

<main class="main">
  <div class="content">
    <h1 class="text-2xl font-bold">
      Hello world!
    </h1>
    <app-header></app-header>
    <router-outlet />
  </div>
</main>

