<div class="flex justify-center items-center h-screen">
    <app-card>
        <div>
            <label>Previsión médica</label>
            <div>
                <mat-form-field>
                    <mat-label>Seleccionar previsión...</mat-label>
                    <mat-select  [(ngModel)]="previsionSeleccionada">
                        @for (previ of previsiones; track previ) {
                        <mat-option [value]="previ.id">{{previ.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <label>Especialidad</label>
            <div>
                <mat-form-field>
                    <mat-label>Seleccionar especialidad...</mat-label>
                    <mat-select [(ngModel)]="especialidadSeleccionada">
                        @for (espe of especialidades; track espe) {
                        <mat-option [value]="espe.id">{{espe.nombre}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <a mat-flat-button color="primary" href="/horas-atencion">
            Siguiente
        </a>
        <button mat-flat-button color="primary" (click)="setDatos()" [disabled]="!previsionSeleccionada || !especialidadSeleccionada">
            Guardar datos
        </button>
    </app-card>
</div>